@font-face {
    font-family: 'DynaPuff';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/DynaPuff.ttf'); 
}

@font-face {
    font-family: 'NationalPark';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/NationalPark.ttf'); 
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(/assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background: transparent;
}

.mainTitle {
  font-family: 'DynaPuff';
  color: #333;
  text-align: center;
  margin-top: 50px;
  max-width: 40%;
  align-self: center;
  justify-self: center;
}

.mainTitle p {
    font-family: "NationalPark";
}

.limitedItems {
  font-family: 'DynaPuff';
  color: #333;
  width: fit-content;
}

